.sport-btn {
  margin: 0;
  width: 80px;
  height: 100%;
  background-color: aquamarine;
  border-top-right-radius: 100px;
  border-top-left-radius: 20px;
  border: 1px solid rgba(25, 25, 112, 0.29);
  border-left: none;
}

.touched {
  border-style: inset;
  border-bottom: none;
  color: rgba(0, 0, 0, 0.89);
  background-color: honeydew;
}